{% extends "main/base.html"%}
{% load static %}
{% block index %}

<link rel="stylesheet" type="text/css" href="{% static 'main/css/problem.css' %}" />

<div class="problem-view-container">
    <div class="sidebar p-5">
       <h2>Category Deep Dives</h2>
       <div class="buttons-container mt-4">
           {% for cat in categories %}
                <button type="button" class="btn btn-light btn-lg mt-3" data-toggle="collapse" data-target="#{{cat.slug}}" aria-expanded="false" aria-controls="{{cat.slug}}">{{cat.name}}</button>
                <div id="{{cat.slug}}" class="collapse">
                    <div class="card card-body">
                      {% if cat.name == "Array" %}
                        <p>
                        An array is a container object that holds a fixed number of values of a single type. The length of an array is established when the array is created. After creation, its length is fixed. You have seen an example of arrays already, in the main method of the "Hello World!" application. This section discusses arrays in greater detail.

                        Illustration of an array as 10 boxes numbered 0 through 9; an index of 0 indicates the first element in the array
                        An array of 10 elements.
                        
                    
                        Each item in an array is called an element, and each element is accessed by its numerical index. As shown in the preceding illustration, numbering begins with 0. The 9th element, for example, would therefore be accessed at index 8.
                        </p>
                        {% elif cat.name == "Hash Table" %}
                        <p>
                            Hash Table is a data structure which stores data in an associative manner. In a hash table, data is stored in an array format, where each data value has its own unique index value. Access of data becomes very fast if we know the index of the desired data.

Thus, it becomes a data structure in which insertion and search operations are very fast irrespective of the size of the data. Hash Table uses an array as a storage medium and uses hash technique to generate an index where an element is to be inserted or is to be located from.
                        </p>
                        {% elif cat.name == "Sliding Window" %}
                        <p>
                            Window Sliding Technique

        The technique can be best understood with the window pane in bus, consider a window of length n and the pane which is fixed in it of length k. Consider, initially the pane is at extreme left i.e., at 0 units from the left. Now, co-relate the window with array arr[] of size n and pane with current_sum of size k elements. Now, if we apply force on the window such that it moves a unit distance ahead. The pane will cover next k consecutive elements. 
        Consider an array arr[] = {5, 2, -1, 0, 3} and value of k = 3 and n = 5
        Applying sliding window technique : 

        1. We compute the sum of first k elements out of n terms using a linear loop and store the sum in variable window_sum.
        2. Then we will graze linearly over the array till it reaches the end and simultaneously keep track of maximum sum.
        3. To get the current sum of block of k elements just subtract the first element from the previous block and add the last element of the current block.
                        </p>
                        {% elif cat.name == "String" %}
                        <p>
                            A string is a sequence of characters. In other words, a string is an array of character data type. An instance of a string is called a string literal. For instance in C++: string s = "HackerEarth";  is a string literal.

String Manipulation is a class of problems where a user is asked to process a given string and use/change its data. 
                        </p>
                        {% else %}
                        <p> Content coming soon.</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
       </div>
    </div>

    <div class="problem-container container-fluid">   
        <div class="title-container">
            <h2 class="problem-title">Leetcode Problem #{{ id }}: {{ title }}</h2>
            <div class="categories-container">
                {% for cat in categories %}
                    <span class="badge badge-pill badge-info mr-2">{{ cat.name }}</span>
                {% endfor %}
            </div>
            <h5 class="mt-4">
                Difficulty Level: 
                {% if difficulty == 1 %}<span class="easy-tag">Easy</span>
                {% elif difficulty == 2 %}<span class="medium-tag">Medium</span>
                {% else %}<span class="hard-tag">Hard</span>{% endif %}
            </h5>
        </div>
        <hr>
        <div class="video-demonstrations-container row mt-1 py-1">
            <div class="showcased-video col-9">
                {% with videos|first as showcasedVideo %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src={{ showcasedVideo.video_url }}></iframe>
                </div>
                <div class="video-title-attempt-btn-container">
                    <h2 class="mt-4">{{ showcasedVideo.video_title }}</h2>
                    <button type="button" class="navbar-button btn btn-dark btn-md mt-3 px-5"><a style="color:#fff" href="https://leetcode.com/problems/{{ url }}/">Ready To Attempt</a></button>
                </div>
                <hr>
                <div class="description-container">
                    <div class="row">
                    <h2 class="mt-4 ml-4 w-100"> Related Questions </h2>
                    {% for question in relatedQuestions %}
                        <div class="col-sm-6 mt-3">
                            <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ question.title }}</h5>
                                {% if question.difficulty == "Easy" %}<span class="easy-tag" style="font-size: 1.2rem;">Easy</span><br>
                                {% elif question.difficulty == "Medium" %}<span class="medium-tag" style="font-size: 1.2rem;">Medium</span><br>
                                {% else %}<span class="hard-tag" style="font-size: 1.2rem;">Hard</span><br>{% endif %}<br>
                                <a href="/problem/{{ question.titleSlug }}" class="navbar-button btn btn-dark btn-md mt-0">Try It</a>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endwith %}
            </div>
            <div class="related-videos-container col-3">
                <h3>More related videos</h4>
                {% with relatedVideos=videos|slice:"1:" %}
                {% for vid in relatedVideos %}
                    <a href="{{vid.video_url}}">
                        <div class="related-video p-3">
                            <p class="h6">{{ vid.video_title }}</p>
                            <img src={{ vid.thumbnail }} class="img-thumbnail">
                        </div>
                    </a>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

{% endblock index %}
