.badge {
  font-size: 1.33em;
  font-weight: 500;
}

.easy-tag {
  color: green;
}

.medium-tag {
  color: orange;
}

.hard-tag {
  color: red;
}

.problem-view-container {
  display: flex;
  width: 100%;
}

.problem-title {
  margin: 16px 0;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.9);
}

.problem-title.deep-dive {
  font-size: 24px;
}

.problem-container {
  margin: 2%;
  width: 75%;
}

.showcased-video h2 {
  font-weight: 600;
}

.related-videos-container {
  max-height: 100vh;
  overflow-y: scroll;
}

.related-videos-container h3 {
  font-weight: 600;
}

.related-videos-container::-webkit-scrollbar {
  width: 5px;
}

.related-videos-container::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: black;
}

.related-video {
  transition: 0.2s all ease-in-out;
  border-radius: 6px;
  cursor: pointer;
}

.related-video:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.video-title-attempt-btn-container {
  display: flex;
  justify-content: space-between;
}

/* Sidebar tabs */

.sidebar {
  width: 25%;
  background-color: #161616;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
}

.sidebar h2 {
  color: #fafafa;
}

.sidebar button {
  color: #fafafa;
  font-weight: 600;
  display: block;
  background: transparent;
  width: 100%;
  border-radius: 0;
}

.sidebar .card {
  font-weight: 600;
  border-radius: 0;
  font-size: medium;
  line-height: 25px;
  border-top: none;
}
