.badge {
  font-size: 1.33em;
  font-weight: 500;
}

.easy-tag {
  color: green;
}

.medium-tag {
  color: orange;
}

.hard-tag {
  color: red;
}

.problem-view-container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 25%;
  background-color: #161616;
}

.problem-title {
  margin: 16px 0;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.9);
}

.problem-title.deep-dive {
  font-size: 24px;
}

.problem-container {
  margin: 2%;
  width: 75%;
}

.showcased-video h2 {
  font-weight: 600;
}

.related-videos-container {
  max-height: 100vh;
  overflow-y: scroll;
}

.related-videos-container h3 {
  font-weight: 600;
}

.related-videos-container::-webkit-scrollbar {
  width: 5px;
}

.related-videos-container::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: black;
}

.showcased-video,
.related-videos-container {
  height: 80vh;
}
